.navbar{
    width: 100%;
}

.head-comp{
    height: 60px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    background-color:aquamarine;
    margin: 0;
    padding-left: 10px;
}

.lab-cont{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.head-comp h5{
    margin-top: 9px;
}

.container{
    width: 80rem;
}
input{
    height: 35px;
    width: 420px;
    padding: 15px;
}
.comp{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cont{
    padding: 5px;
    margin-left: 12px;
    
}

.bullet{
    display: flex;
    flex-direction: row;
    margin-left: 13rem;
    gap: 1rem;
    
    
}

.bullet-in{
    display: flex;
    flex-direction: row;
}

.bullet-in p {
    font-size: 13px;
    padding: 5px;

}

.btn-one{
    margin: 8px;
    font-size: 24px;
    border: none;
}
.sel{
    width: 400px;
    height: 35px;
    padding-left: 8px;
}
.form-cont{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 17px;
    padding-top: 7px;
    padding-left: 10px;
    height: 35px;
    width: 400px;
    margin-bottom: 15px;
}
.btn-cont{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
}

.btn-two{
    background-color: rgb(5, 255, 222);
    border: none;
    color: white;
    font-weight: 400;
    padding: 7px;
    border-radius: 2px;
}

.btn-schema{
    color: rgb(5, 255, 222);
    border: none;
    text-decoration: underline;
}

.btn-three{
    background-color: white;
    color: red;
    border: none;
    padding: 5px;
    border-radius: 2px;
}
