.navbar{
    width: 100%;
}

.container{
    width: 80rem;
}
input{
    height: 35px;
    width: 450px;
    padding: 15px;
}
.comp{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cont{
    padding: 15px;
    
}

.btn-one{
    margin: 3px;
    border: none;
}
.sel{
    width: 300px;
    height: 35px;
    padding-left: 8px;
}
.form-cont{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    padding-top: 7px;
    padding-left: 10px;
    height: 35px;
    width: 300px;
    margin-bottom: 15px;
}
.btn-cont{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.btn-two{
    background-color: green;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

.btn-three{
    background-color: red;
    border: none;
    padding: 5px;
    border-radius: 2px;
}
